<!-- admin uses this page to perform CRUD over products -->
<div class="products-table">


  <div class="show-label"><span class="badge badge-pill">ALL THE PRODUCTS</span></div>
  <mat-form-field>
    <mat-label style="color: black;">Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Watch" #input>
  </mat-form-field>


  <button class="create-button" mat-raised-button (click)="onCreate(null)">
    <mat-icon>add_circle</mat-icon>Create
  </button>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>


      <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let row"> {{row.productId}} </td>
      </ng-container>


      <ng-container matColumnDef="productName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> NAME </th>
        <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
      </ng-container>


      <ng-container matColumnDef="productPrice">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> PRICE </th>
        <td mat-cell *matCellDef="let row"> {{row.productPrice}} </td>
      </ng-container>

      <ng-container matColumnDef="productColor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> COLOR </th>
        <td mat-cell *matCellDef="let row"> {{row.productColor}} </td>
      </ng-container>

      <ng-container matColumnDef="productCategory">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> CATEGORY </th>
        <td mat-cell *matCellDef="let row"> {{row.productCategory}} </td>
      </ng-container>


      <ng-container matColumnDef="productQuantity">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantity </th>
        <td mat-cell *matCellDef="let row"> {{row.productQuantity}} </td>
      </ng-container>


      <ng-container matColumnDef="productManufacturer">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> MANUFACTURER </th>
        <td mat-cell *matCellDef="let row"> {{row.productManufacturer}} </td>
      </ng-container>


      <ng-container matColumnDef="productSpecification">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> SPECIFICATION </th>
        <td mat-cell *matCellDef="let row"> {{row.productSpecification}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th class="pl-3" mat-header-cell *matHeaderCellDef mat-sort-header> ACTIONS </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button matTooltip="Update product" (click)="onCreate(row)">
            <mat-icon>launch</mat-icon>
          </button>

          <button mat-icon-button matTooltip="Delete product" color="warn" (click)="deleteProduct(row)">
            <mat-icon>delete_outline</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          <mat-spinner diameter=40 style="margin-left:130%;"></mat-spinner>
        </td>
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>

</div>