.example-spacer {
    flex: 1 1 auto;
  }

  a{
    outline: none;
    margin: 10px;
    text-decoration: none;
    
  }

  mat-toolbar{
      background-color: black;
      color: white;
      border-bottom: 1px solid rgb(82, 77, 77);
  }

  mat-icon{
    font-size:30px;
  }

  .categories{

    position: absolute;
    z-index: 2;
    background-color: white;
    width: 100%;
  }

  .categories img{
    filter: grayscale(100%);
  }

  .categories div{
      height:270px;
      padding: 0;
      border-right: 2px solid rgba(112, 112, 112, 0.397);
      
  }