@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=El+Messiri:wght@500&family=Srisakdi:wght@700&display=swap');

.edit-product{
background-color:rgb(175, 255, 248) ;
}

.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar{
      background-color:  black;
      color: rgb(243, 189, 11);
  }
  mat-toolbar button{
      outline: none;
  }
  ::ng-deep .mat-focused .mat-form-field-label{
    color: black !important;
    font-weight: bold;
   }

   mat-label{
       font-weight: bold;
   }
  
   ::ng-deep.mat-form-field-underline {
    background-color: black !important;
  } 
  
  ::ng-deep.mat-form-field-ripple {
   background-color:black !important;
  }
  
