@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=El+Messiri:wght@500&family=Srisakdi:wght@700&display=swap');
.product-page{
    height:600px;
    background-image: linear-gradient(to right, rgb(59, 255, 245),rgba(220, 255, 253, 0.767) ,rgba(220, 255, 253, 0.767));
    font-family: 'Times New Roman', Times, serif;
    
}
.product-image{
    background-color: rgba(220, 255, 253, 0.767);
}
.product-details{

    margin-top: 3%;
}

.product-details button{
    outline:none;
}


.create-button{
    box-shadow: 5px 5px 5px rgb(165, 161, 161);
    background-color: rgb(243, 189, 11); 
    outline: none;
    color: black;
  }