@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=El+Messiri:wght@500&family=Srisakdi:wght@700&display=swap');

.description button{
    background-color: transparent;
    color: blue;
    outline: none;
}

.divider {
    height: 15px;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.377);
    display: inline-block;
    margin-bottom: -3px;
  }

  .create-button{
    border: 1px solid black;
    background-color: rgb(233, 197, 39); 
    outline: none;
    color: black;
  }