  table {
    width: 100%;
  }

  .sales-report-table{
    margin:5% 2% 0 5%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td,th {
    width:10%;
  }

  th{
    background-color: black;
    color: white;
  }

  ::ng-deep .mat-sort-header-arrow {
    color: #fff;
}

::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: black !important;
 }

 ::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: black !important;
} 

::ng-deep.mat-form-field-ripple {
 /*change color of underline when focused*/
 background-color:black !important;
}
.show-label {
  text-align: center;
  font-size: 50px;
  margin-top:-20px;
  margin-bottom:30px;
}

.badge{
  color:rgb(95, 0, 173);
  font-family:'Aclonica', sans-serif;
  text-decoration: underline;
}


tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
